.glass {
  position: relative;
  z-index: 0;
  border-radius: var(--radius) !important;
}

.glass::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  backdrop-filter: blur(var(--blur)) saturate(var(--saturation)) opacity(var(--blur-opacity));
  -webkit-backdrop-filter: blur(var(--blur)) saturate(var(--saturation)) opacity(var(--blur-opacity));
  background-color: rgba(6, 23, 45, 0.12);
  background-color: color-mix(in srgb, var(--c-glass) 12%, transparent) !important;
  transition: opacity var(--transition-time) ease, backdrop-filter var(--transition-time) ease, box-shadow var(--transition-time) ease, background-color var(--transition-time) ease;
  box-shadow: 0px 6px 2vh rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 0 1px color-mix(in srgb,
      var(--c-light) calc(var(--glass-reflex-light) * 10%),
      transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
    inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
    inset -0.3px -1px 4px 0px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 12%),
      transparent),
    inset -1.5px 2.5px 0px -2px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
      transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
    inset 2px -6.5px 1px -4px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
      transparent),
    0px 1px 5px 0px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
      transparent),
    0px 6px 2vh 0px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 8%),
      transparent);
}

.glass-item {
  position: relative;
  z-index: 0;
  border-radius: var(--radius) !important;
}

.glass-item::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  backdrop-filter: blur(var(--blur)) saturate(var(--saturation)) opacity(var(--blur-opacity));
  -webkit-backdrop-filter: blur(var(--blur)) saturate(var(--saturation)) opacity(var(--blur-opacity));
  background-color: rgba(6, 23, 45, 0.12);
  background-color: color-mix(in srgb, var(--c-glass) 12%, transparent) !important;
  transition: backdrop-filter var(--transition-time) ease, box-shadow var(--transition-time) ease, background-color var(--transition-time) ease;
  box-shadow: 0px 6px 2vh rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 0 1px color-mix(in srgb,
      var(--c-light) calc(var(--glass-reflex-light) * 10%),
      transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
    inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
    inset -0.3px -1px 4px 0px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 12%),
      transparent),
    inset -1.5px 2.5px 0px -2px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
      transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
    inset 2px -6.5px 1px -4px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
      transparent),
    0px 1px 5px 0px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
      transparent),
    0px 6px 2vh 0px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 8%),
      transparent);
}