/* Archive (temporary) */

.glass {
  border-radius: var(--radius) !important;
  background-color: color-mix(in srgb, var(--c-glass) 12%, transparent) !important;
  backdrop-filter: blur(var(--blur)) saturate(var(--saturation));
  -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
  box-shadow: inset 0 0 0 1px color-mix(in srgb,
      var(--c-light) calc(var(--glass-reflex-light) * 10%),
      transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
    inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
    inset -0.3px -1px 4px 0px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 12%),
      transparent),
    inset -1.5px 2.5px 0px -2px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
      transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
    inset 2px -6.5px 1px -4px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
      transparent),
    0px 1px 5px 0px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
      transparent),
    0px 6px 16px 0px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 8%),
      transparent);
}

.glass::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  display: block;
  border-radius: var(--radius) !important;
  background-color: color-mix(in srgb, var(--c-glass) 36%, transparent) !important;
  z-index: -1;
  box-shadow: inset 0 0 0 1px color-mix(in srgb,
      var(--c-light) calc(var(--glass-reflex-light) * 10%),
      transparent),
    inset 2px 1px 0px -1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
    inset -1.5px -1px 0px -1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
    inset -2px -6px 1px -5px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
    inset -1px 2px 3px -1px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
      transparent),
    inset 0px -4px 1px -2px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
      transparent),
    0px 3px 6px 0px color-mix(in srgb,
      var(--c-dark) calc(var(--glass-reflex-dark) * 8%),
      transparent);
}

/* Top level */

@import url('../assets/fonts/fontSheet.css');

body {
  margin: 0;
  font-family: 'Iosevka', 'Iosevka Medium', Arial, sans-serif;
  color: #FEFEFACC;

  --c-glass: #06172D;
  --c-light: #fff;
  --c-dark: #000;

  --glass-reflex-dark: 2;
  --glass-reflex-light: 0.3;
  --saturation: 90%;
  --blur: 2px;

  transition: background 400ms cubic-bezier(1, 0, 0.4, 1),
    color 400ms cubic-bezier(1, 0, 0.4, 1);
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hidden {
  opacity: 0 !important;
  display: none !important;
}

.fade-in {
  opacity: 0;
  transition: opacity 700ms;
  transition-delay: 0.3s;
}

.fade-in.show {
  opacity: 1;
}

.fade-out {
  opacity: 1;
  transition: opacity 700ms;
  transition-delay: 0.3s;
}

.fade-out.hide {
  opacity: 0;
}

/* Boot animation */

#boot-screen {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #06172D;
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

#tty {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;

  padding: 2.22vw;
  overflow: hidden;
}

.blink {
  animation: blink 1s step-start infinite;
  -webkit-animation: blink 1s step-start infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logs {
  color: #FEFEFACC;
  font-family: 'Iosevka Semibold';
  line-height: 20px;
}

#logo {
  position: relative;
  width: 12vh;
  z-index: 2;
}

/* Login */

#login-screen {
  background-image: url('../assets/jpg/login-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 0;
}

.glass-digit {
  fill: rgba(255, 255, 255, 0.15);
  stroke: rgba(255, 255, 255, 0.4);
  stroke-width: 0.5;
  filter: 
    drop-shadow(0 8px 20px rgba(0, 0, 0, 0.2))
    drop-shadow(-0.1px -0.2px 0.4px rgba(255, 255, 255, 0.4))
    drop-shadow(-2px -2px 6px rgba(255, 255, 255, 0.25))
    drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.3));
}

.glass-digit-svg {
  width: 100%;
  height: 100%;
}

.clock {
  position: absolute;
  top: 6vh;
  will-change: transform;

  div {
    height: 24vh;
    transition: opacity 150ms ease-in-out;

    img {
      position: absolute;
      width: auto;
      height: 100%;
    }

    svg {
      position: absolute;
      width: auto;
      height: 100%;
      transition: opacity 200ms ease-in-out;
  
    }
  }

  #colon {
    position: relative;
    height: 16vh;

    img {
      position: absolute;
      top: 0.8vh;
      left: 50%;
      transform: translateX(-50%);
    }

    svg {
      position: absolute;
      top: 0.8vh;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .left img {
    right: 4vh;
  }

  .left svg {
    right: 4vh;
  }

  .right img {
    left: 4vh;
  }

  .right svg {
    left: 4vh;
  }

  .more-left img {
    right: 18vh;
  }

  .more-left svg {
    right: 18vh;
  }

  .more-right img {
    left: 16vh;
  }

  .more-right svg {
    left: 16vh;
  }
}

#admin-login {
  position: absolute;
  width: 24vw;
  height: fit-content;
  padding: 32px;
  --radius: 16px;
  --blur: 6px;

  form {
    gap: 2vh;
    padding: 2vh;
    --radius: 32px;
    --blur: 2px;

    input {
      height: 2vh;
      width: 80%;
      padding: 16px;
      --blur: 0px;
    }

    button {
      width: 6vw;
      height: 2vw;
      color: #FEFEFACC;
    }
  }
}

.user-selector {
  position: relative;
  top: 32vh;

  width: 20vh;
  height: 20vh;
  --radius: 32px;

  justify-content: space-evenly !important;

  button {
    position: static !important;
    border-radius: 40px;
    gap: 8px;
    padding: 4%;
    color: #FEFEFACC;
    font-family: 'Iosevka Bold';
    font-size: 18px;
    text-align: center;
    cursor: pointer;

    --glass-reflex-dark: 0;
    --glass-reflex-light: 0;
    --saturation: 0%;
    --blur: 0px;

    transition: transform 200ms ease, background 120ms ease, box-shadow 220ms ease;
    transform: translateY(0) scale(1);
    will-change: transform;
    transform-origin: center;

    .profile {
      position: relative;
      display: inline-block;

      width: 6vh;
      height: 6vh;
      border-radius: 100px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100px;

        filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.25));
      }
    }

    .profile::after {
      content: "";
      position: absolute;
      inset: 0;

      border-radius: 100px;
      box-shadow: -4px -4px 8px rgba(6, 23, 45, 0.80) inset, 4px 4px 8px rgba(6, 23, 45, 0.80) inset;
      pointer-events: none;
    }
  }

  button:hover {
    transform: translateY(-8%);

    --glass-reflex-dark: 2;
    --glass-reflex-light: 0.3;
    --saturation: 150%;
    --blur: 4px;
  }

  button:active {
    transform: translateY(+4%) scale(0.95);
    background: rgba(12, 12, 12, 0.25);
  }
}

/* Layout */

.flex {
  display: flex;
}

.fitcontent {
  height: fit-content;
  width: fit-content;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.none {
  border: unset;
  margin: unset;
  will-change: unset;
  background: unset;
  border-radius: unset;
  outline: unset;
  resize: unset;
}