/* Archive (temporary) */

/* 
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
} 
*/

/* Top level */

@import url('../assets/fonts/fontSheet.css');

body {
    margin: 0;
    font-family: 'Iosevka', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.screen {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hidden {
    opacity: 0 !important;
}

.fade-in {
    opacity: 0;
    transition: opacity 700ms;
    transition-delay: 0.3s;
}

.fade-in.show {
    opacity: 1;
}

.fade-out {
    opacity: 1;
    transition: opacity 700ms;
    transition-delay: 0.3s;
}

.fade-out.hide {
    opacity: 0;
}

/* Boot animation */

#boot-screen {
    background-color: #06172D;
    height: 100vh;
    overflow-y: hidden;
    z-index: 3;
    position: relative;
}

#tty {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 40.625vw;
    height: 72.22vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 2.22vw;
    padding-bottom: 2.22vh;
    overflow-y: hidden;
}

.logs {
    color: #ffffff;
    font-family: 'Iosevka Semibold';
    line-height: 20px;
}

#logo {
    width: 10.36vw;
    height: auto;
}

/* Login */

#login-screen {
    background-image: url('../assets/jpg/login-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.clock {
    position: absolute;
    top: 11.85vh;
    gap: 25px;

    * {
        box-sizing: border-box;
    }

    div {
        #colon {
            height: 6vh;
        }

        height: vh;
        width: auto;
        position: relative;
        overflow: visible;

        /* svg path {
            fill: var(--lock-screen-glass, linear-gradient(0deg, rgba(136, 232, 255, 0.15) 0%, rgba(136, 232, 255, 0.15) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%), linear-gradient(0deg, rgba(77, 77, 77, 0.75) 0%, rgba(77, 77, 77, 0.75) 100%), linear-gradient(0deg, rgba(204, 204, 204, 0.30) 0%, rgba(204, 204, 204, 0.30) 100%), rgba(64, 64, 64, 0.40));
            background-blend-mode: normal, normal, overlay, luminosity;
        } */
    }
}

/* Layout */

.flex {
    display: flex;
}

.fitcontent {
    height: fit-content;
    width: fit-content;
}

.center {
    justify-content: center;
    align-items: center;
}