/* Archive (temporary) */

/* 
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
} 
*/

/* Top level */

@import url('../assets/fonts/fontSheet.css');

body {
    margin: 0;
    font-family: 'Iosevka', 'Iosevka Medium', Arial, sans-serif;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.hidden {
    opacity: 0 !important;
    display: none !important;
}

.fade-in {
    opacity: 0;
    transition: opacity 700ms;
    transition-delay: 0.3s;
}

.fade-in.show {
    opacity: 1;
}

.fade-out {
    opacity: 1;
    transition: opacity 700ms;
    transition-delay: 0.3s;
}

.fade-out.hide {
    opacity: 0;
}

/* Boot animation */

#boot-screen {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #06172D;
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#tty {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: flex-end;

    padding: 2.22vw;
    overflow: hidden;
}

.logs {
    color: #ffffff;
    font-family: 'Iosevka Semibold';
    line-height: 20px;
}

#logo {
    position: relative;
    width: 12vh;
    z-index: 2;
}

/* Login */

#login-screen {
    background-image: url('../assets/jpg/login-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
}

.clock {
    position: absolute;
    top: 6vh;

    div {
        height: 24vh;

        img {
            position: absolute;
            width: auto;
            height: 100%;
        }
    }

    #colon {
        position: relative;
        height: 16vh;

        img {
            position: absolute;
            top: 0.8vh;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .left img {
        right: 4vh;
    }

    .right img {
        left: 4vh;
    }

    .more-left img {
        right: 18vh;
    }

    .more-right img {
        left: 16vh;
    }
}

.user-selector {
    position: relative;
    top: 32vh;

    width: 18vh;
    height: 18vh;
    gap: 16px;

    border-radius: 32.974px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.20) inset, -4px -4px 8px 0 rgba(255, 255, 255, 0.30) inset, -0.5px -0.5px 2px 0 rgba(255, 255, 255, 0.40) inset, 8px 8px 16px 1px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(4px);

    .guest {
        position: absolute;
        top: 2vh;
    }

    .admin {
        position: absolute;
        top: 8vh;
    }

    button {
        position: absolute;
        border-radius: 40px;
        gap: 8px;
        color: #ffffff;
        font-family: 'Iosevka Bold';
        font-size: 18px;
        text-align: center;
        cursor: pointer;

        padding: 4%;
        transition: transform 200ms ease, background 120ms ease, box-shadow 220ms ease;
        will-change: transform;

        .profile {
            position: relative;
            display: inline-block;

            width: 6vh;
            height: 6vh;
            border-radius: 100px;

            img {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 100px;

                filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.25));
            }
        }

        .profile::after {
            content: "";
            position: absolute;
            inset: 0;

            box-shadow: -4px -4px 8px rgba(6, 23, 45, 0.80) inset, 4px 4px 8px rgba(6, 23, 45, 0.80) inset;
            pointer-events: none;
        }
    }

    button:hover {
        transform: translateY(-8%) scale(1.05);
        background: rgba(34, 34, 34, 0.25);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.20) inset, 0 -5px 5px rgba(255, 255, 255, 0.05) inset, 0 8px 14px rgba(0, 0, 0, 0.45);
    }

    button:active {
        transform: translateY(+4%) scale(0.95);
        background: rgba(12, 12, 12, 0.25);
    }

    border-radius: 32px;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.20) inset, 0 -5px 5px rgba(255, 255, 255, 0.05) inset, 0 5px 13px rgba(0, 0, 0, 0.40);
}

/* Layout */

.flex {
    display: flex;
}

.fitcontent {
    height: fit-content;
    width: fit-content;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.none { 
    border: unset;
    margin: unset;
    will-change: unset;
    background: unset;
    border-radius: unset;
    outline: unset;
    resize: unset;
}