/* Archive (temporary) */

/* 
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
} 
*/

/* Top level */

body {
    background-color: #06172D;
    font-family: 'Iosevka', sans-serif;
    margin: 0;
}

/* Boot animation */

#boot-screen {
    height: 100vh;
    overflow-y: hidden;
}

.tty {
    display: inline-block;
    animation: blink 0.8s infinite;
}

.logs {
    color: #ffffff;
}

/* Font */

@import url('assets/fonts/fontSheet.css');

