/* Archive (temporary) */

/* 
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
} 
*/

/* Top level */

@import url('../assets/fonts/fontSheet.css');

body {
    margin: 0;
    font-family: 'Iosevka', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.hidden {
    opacity: 0 !important;
    display: none !important;
}

.fade-in {
    opacity: 0;
    transition: opacity 700ms;
    transition-delay: 0.3s;
}

.fade-in.show {
    opacity: 1;
}

.fade-out {
    opacity: 1;
    transition: opacity 700ms;
    transition-delay: 0.3s;
}

.fade-out.hide {
    opacity: 0;
}

/* Boot animation */

#boot-screen {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #06172D;
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#tty {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: flex-end;

    padding: 2.22vw;
    overflow: hidden;
}

.logs {
    color: #ffffff;
    font-family: 'Iosevka Semibold';
    line-height: 20px;
}

#logo {
    position: relative;
    width: 12vh;
    z-index: 2;
}

/* Login */

#login-screen {
    background-image: url('../assets/jpg/login-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
}

.clock {
    position: absolute;
    top: 6vh;

    div {
        position: relative;
        width: 20vh;

        img {
            width: 100%;
            height: auto;
        }
    }

    #colon {
        position: relative;
        width: 16vh;

        img {
            position: absolute;
            top: +2.5vh;
        }
    }

    .left img {
        position: absolute;
        right: -11vh;
    }

    .right img {
        position: absolute;
        left: -11vh;
    }

    .more-left img {
        position: absolute;
        right: -22vh;
    }

    .more-right img {
        position: absolute;
        left: -22vh;
    }
}

.user-selector {
    position: relative;
    top: 32vh;

    width: 20vh;
    height: 18vh;
    gap: 16px;

    .guest {
        position: absolute;
        top: 1vh;
    }

    .admin {
        position: absolute;
        top: 9vh;
    }

    button {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #ffffff;
        text-align: center;
        cursor: pointer;

        padding: 4%;
        transition: transform 200ms ease, background 120ms ease, box-shadow 220ms ease, border-radius 120ms ease;
        will-change: transform;

        img {
            width: 6vh;
            height: 6vh;
            border-radius: 100px;
        }
    }

    button:hover {
        transform: translateY(-8%) scale(1.05);
        background: rgba(34, 34, 34, 0.25);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.20) inset, 0 -5px 5px rgba(255, 255, 255, 0.05) inset, 0 8px 14px rgba(0, 0, 0, 0.45);
        border-radius: 40px;
    }

    border-radius: 32px;
    background: rgba(0, 0, 0, 0);
    box-shadow:
        0 5px 5px rgba(0, 0, 0, 0.20) inset,
        0 -5px 5px rgba(255, 255, 255, 0.05) inset,
        0 5px 13px rgba(0, 0, 0, 0.40);
}

/* Layout */

.flex {
    display: flex;
}

.fitcontent {
    height: fit-content;
    width: fit-content;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.none { 
    border: unset;
    margin: unset;
    will-change: unset;
    background: unset;
    border-radius: unset;
    outline: unset;
    resize: unset;
}