body {
    background-color: #06172D;
    margin: 0;
}

#boot-screen {
    background-color: #06172D;
    color: #ffffff;
    height: 100vh;
}

.tty {
    display: inline-block;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}