/* Archive (temporary) */

/* 
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
} 
*/

/* Top level */

@import url('../assets/fonts/fontSheet.css');

body {
    margin: 0;
    font-family: 'Iosevka', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.screen {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
    background: transparent;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
    transition-delay: 0.3s;
}

.fade-in.show {
    opacity: 1;
}

.fade-out {
    opacity: 1;
    transition: opacity 1s ease;
    transition-delay: 0.3s;
}

.fade-out.hide {
    opacity: 0;
}

/* Boot animation */

#boot-screen {
    background-color: #06172D;
    height: 100vh;
    overflow-y: hidden;
}

#tty {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 40.625vw;
    height: 72.22vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 2.22vw;
    padding-bottom: 2.22vh;
    overflow-y: hidden;
}

.logs {
    color: #ffffff;
    font-family: 'Iosevka Semibold';
    line-height: 20px;
}

#logo {
    width: 10.36vw;
    height: auto;
}

/* Login */

#login-screen {
    background-image: url('../assets/jpg/login-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* Layout */

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}