@font-face {
    font-family: 'Iosevka Extended';
    src: url('Iosevka/Iosevka-Bold-Extended.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Extended';
    src: url('Iosevka/Iosevka-Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Medium Extended';
    src: url('Iosevka/Iosevka-Medium-Extended.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Extended Oblique';
    src: url('Iosevka/Iosevka-Extended-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Heavy Extended';
    src: url('Iosevka/Iosevka-Heavy-Extended.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Light Extended';
    src: url('Iosevka/Iosevka-Light-Extended.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Extralight Extended';
    src: url('Iosevka/Iosevka-Extralight-Extended.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Extended';
    src: url('Iosevka/Iosevka-Extended-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Extrabold Extended';
    src: url('Iosevka/Iosevka-Extrabold-Extended.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Semibold Extended';
    src: url('Iosevka/Iosevka-Semibold-Extended.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Oblique';
    src: url('Iosevka/Iosevka-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Thin Extended';
    src: url('Iosevka/Iosevka-Thin-Extended.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Oblique';
    src: url('Iosevka/Iosevka-Bold-Oblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Extended';
    src: url('Iosevka/Iosevka-Bold-Extended-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka XBd Ex Obl';
    src: url('Iosevka/Iosevka-Extrabold-Extended-Oblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka XLt Ex Obl';
    src: url('Iosevka/Iosevka-Extralight-Extended-Oblique.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Heavy Extended';
    src: url('Iosevka/Iosevka-Heavy-Extended-Italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Extended Oblique';
    src: url('Iosevka/Iosevka-Bold-Extended-Oblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Extrabold Extended';
    src: url('Iosevka/Iosevka-Extrabold-Extended-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Extralight Extended';
    src: url('Iosevka/Iosevka-Extralight-Extended-Italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Light Extended';
    src: url('Iosevka/Iosevka-Light-Extended-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Light Extended Oblique';
    src: url('Iosevka/Iosevka-Light-Extended-Oblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Md Ex Obl';
    src: url('Iosevka/Iosevka-Medium-Extended-Oblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Heavy Extended Oblique';
    src: url('Iosevka/Iosevka-Heavy-Extended-Oblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Extended Oblique';
    src: url('Iosevka/Iosevka-Extended-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Medium Extended';
    src: url('Iosevka/Iosevka-Medium-Extended-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Semibold Extended';
    src: url('Iosevka/Iosevka-Semibold-Extended-Italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Extended';
    src: url('Iosevka/Iosevka-Extended-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Thin Extended';
    src: url('Iosevka/Iosevka-Thin-Extended-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Thin Extended Oblique';
    src: url('Iosevka/Iosevka-Thin-Extended-Oblique.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Extrabold Oblique';
    src: url('Iosevka/Iosevka-Extrabold-Oblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Extrabold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Extralight-Italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Extralight Oblique';
    src: url('Iosevka/Iosevka-Extralight-Oblique.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka SmBd Ex Obl';
    src: url('Iosevka/Iosevka-Semibold-Extended-Oblique.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Light-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Heavy Oblique';
    src: url('Iosevka/Iosevka-Heavy-Oblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Heavy-Italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Light Oblique';
    src: url('Iosevka/Iosevka-Light-Oblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Medium Oblique';
    src: url('Iosevka/Iosevka-Medium-Oblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Oblique';
    src: url('Iosevka/Iosevka-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Medium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Semibold-Italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Semibold Oblique';
    src: url('Iosevka/Iosevka-Semibold-Oblique.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Thin Oblique';
    src: url('Iosevka/Iosevka-Thin-Oblique.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka/Iosevka-Thin-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
