.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* Effect utility classes */

.hidden {
  opacity: 0 !important;
  display: none !important;
}

.fade-in {
  opacity: 0;
  transition: opacity 700ms;
  transition-delay: 0.3s;
}

.show {
  opacity: 1 !important;
}

.fade-out {
  opacity: 1;
  transition: opacity 700ms;
  transition-delay: 0.3s;
}

.hide {
  opacity: 0 !important;
}

/* Layout utility classes */

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
  align-content: space-around;
}

.space-between {
  justify-content: space-between;
  align-content: space-between;
}

.u-fit-content {
  height: fit-content;
  width: fit-content;
}

.center {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

/* Inherited syle reset */

.u-reset {
  border: unset;
  margin: unset;
  will-change: unset;
  outline: unset;
  resize: unset;
  background-color: unset;
}