#boot-screen {
	position: relative;
	z-index: 2;
	overflow: hidden;
	background-color: #06172D;
	height: 100vh;
}

.boot-screen-container {
	position: relative;
	width: 100%;
	height: 100%;
}

#tty,
.boot-screen-tty {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;

	font-family: 'Iosevka';
	font-weight: 600;
	font-style: normal;

	width: 100%;
	height: 100%;

	flex-direction: column;
	justify-content: flex-end;

	padding: 2.22vw;
	overflow: hidden;
}

.blink {
	animation: blink 1s step-start infinite;
	-webkit-animation: blink 1s step-start infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.logs {
	color: #FEFEFACC;
	font-family: 'Iosevka Semibold';
	line-height: var(--len-24);
}

.boot-screen-logo,
#logo {
	position: relative;
	width: 12vh;
	z-index: 2;
}
